{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">批量查询 > IN SQL查询结果列表 <span class="page-pretitle">(Total URL:{$total} )</span></span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>edit</th>
            
            <th>file_name</th>
            <th>file_size</th>
            <th>file_type</th>
            <th>downloads</th>
            <th>timestamp</th>
            <th>last_timestamp</th>
            <th>display_ad</th>
            <th>site_id</th>
            <th>server_id</th>
            <th>redis_index</th>
            <th>delete_status</th>
            <th>is_404</th>
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="" }

            <tr>
              <td>{$vo.id}</td>
              <td><a href="/{$admin_path}/file/edit?id={$vo.id}">[=]</a></td>
              
              
              <td style="max-width: 300px;overflow: hidden;"><a href='{$domain_data[$vo.site_id-1]["http_prefix"]}{$domain_data[$vo.site_id-1]["domain"]}/{$vo.short_str}' target="_blank">{$vo.file_name}</a></td>
              <td>{$vo.file_size}</td>
              <td>{$vo.file_type}</td>
              <td>{$vo.downloads}</td>
              <td>{$vo.timestamp|date="Y-m-d H:i"}</td>
              <td>{$vo.last_timestamp|date="Y-m-d H:i"}</td>
              <td>{$vo.display_ad}</td>
              <td>{$vo.site_id}</td>
              <td>{$vo.server_id}</td>
              <td>{$vo.redis_index}</td>
              <td>{$vo.delete_status}</td>
              <td>{$vo.is_404}</td>
              <td><a href="/{$admin_path}/file/delete?id={$vo.id}">[X]</a></td>
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
  </div>
</div>

{include file='footer'}