{include file='header'}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <span class="card-title">首页来源 > 列表 <span class="page-pretitle">  （当天首页访问数据：{$index_click_num}） </span></span>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable  table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>edit</th>
            <th>datetime</th>
            <th>http_prefix</th>
            <th>country</th>
            <th>language</th>
            <th>user_agent</th>
            <th>is_pc</th>
            <th>is_spider</th>
            <th>user_ip</th>
            
            
          </tr>
        </thead>
        <tbody>
          {volist name="list" id="vo" empty="none" }
            <tr>
              <td>{$vo.id}</td>
              <td><a href="/{$admin_path}/analysis/index_edit?id={$vo.id}">[=]</a></td>
              <td>{$vo.timestamp|date='Y-m-d H:i:s'}</td>
              <td style="max-width:200px;overflow: hidden;">{$vo.http_referer}</td>
              <td style="max-width: 150px;overflow: hidden;">{$vo.country}</td>   
              <td style="max-width:150px;overflow: hidden;">{$vo.user_language}</td>
              <td style="max-width:350px;overflow: hidden;">{$vo.user_agent}</td>
              <td>{$vo.is_pc}</td>
              <td>{$vo.is_spider}</td>
              
              <td style="max-width:100px;overflow: hidden;">{$vo.user_ip}</td>
              
            </tr>
          {/volist}

        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
        {$list|raw}
    </div>
  </div>
</div>

{include file='footer'}