{include file="/header"/}
<div class="container-xl">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-md-12 mt-50">
            <div class="card">
                {include file="/main_logo"/}

                <div class="card-body px-3">
                    <div class="col-12 text-center mt-5 mb-5">
                        <h1 class="text-primary">Frequently Asked Questions</h1>
                    </div>

                    <div id="faq-1" class="accordion" role="tablist" aria-multiselectable="true">
                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-1" aria-expanded="false">1. Is this service completly free?</button>
                            </div>
                            <div id="faq-1-1" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1" style="">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>Yes, absolutely free!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-2" aria-expanded="false">2. What file formats can I upload?</button>
                            </div>
                            <div id="faq-1-2" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>All formats are allowed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-3" aria-expanded="false">3. How do I upload a file?</button>
                            </div>
                            <div id="faq-1-3" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>Click "Choose file" button. Now select the file you want to upload and click the "Upload" button.After the loading process you will see a link. With this link you can access your file or picture at any time.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-4" aria-expanded="false">4. Can I upload multiple files at once?</button>
                            </div>
                            <div id="faq-1-4" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>Yes! After clicking on the "Choose file" button, you can select multiple files with the mouse. (Only possible with modern browsers.)</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-5" aria-expanded="false">5. Which file sizes can be uploaded</button>
                            </div>
                            <div id="faq-1-5" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>A file can not be larger than 2 gigabyte.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-6" aria-expanded="false">6. Will my files automatically deleted?</button>
                            </div>
                            <div id="faq-1-6" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>If your file is 90 days inactive (no call receive), it will be removed. Unless you specify a retention period, your file will be stored until the time of your choosing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-7" aria-expanded="false">7. I'm not a member. Can I delete my file?</button>
                            </div>
                            <div id="faq-1-7" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>Your file will be saved to your chosen storage time or the file will deleted by inactivity.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-8" aria-expanded="false">8. How many files can I upload?</button>
                            </div>
                            <div id="faq-1-8" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>There is no limit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-9" aria-expanded="false">9. Are my files safe here?</button>
                            </div>
                            <div id="faq-1-9" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>Your file is accessible only to people who have the link to your file.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-10" aria-expanded="false">10. How to protect sensitive files?</button>
                            </div>
                            <div id="faq-1-10" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>You can protect your files with a password.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-11" aria-expanded="false">11. Can I manage my files?</button>
                            </div>
                            <div id="faq-1-11" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>Yes, you can manage your files and delete them automatically when you upload files in 12 hours.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-12" aria-expanded="false">12. Where are my files stored?</button>
                            </div>
                            <div id="faq-1-12" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>All of your files are stored exclusively in United States data centers in separately secured server racks.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-header" role="tab">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#faq-1-13" aria-expanded="false">13. How are my files saved?</button>
                            </div>
                            <div id="faq-1-13" class="accordion-collapse collapse" role="tabpanel"
                                data-bs-parent="#faq-1">
                                <div class="accordion-body pt-0">
                                    <div>
                                        <p>All of your personal data are GDPR-compliant and protected according to current security standards. Dormant and in transit binary- and Metadata are always encrypted. As far as technically possible, your data will be pseudonymized.
                                            You can find our Privacy Policy <a href="/privacy" target="_blank">here</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="/footer"/}